# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Gradle local storage
/gradle/
# Kotlin
/*.kotlin_built
# Mongo Explorer plugin workspace state
/mongoSettings.xml
# File-based project format
.idea/
# IntelliJ
*.iml
*.ipr
*.iws
# Keystore files
*.jks

